body {
  font-family: 'Raleway', sans-serif;
  opacity: 0.9;
  font-size: 100%;
}

h1{
  font-weight: 700!important;
}

.card {
  /* center middle */
  /* padding: 1%; */
}

h4 {
  font-weight: 700;
/* font-size: 300%!important; */
}

p {
  line-height: 1.85;
}